.cppclass { background-color:#ccc; text-align:center; }
.c0 { background-color:#9abdde; }
.c1 { background-color:#aacdee; }
.location { font-size:x-small; }
.cr { font-size:x-small; color:#ccc; }
.toggle { font-size:x-small; }
.header { background-color:#729fcf; }
.statusimg { padding-left:5px; padding-right:5px; }
.translated { width:100%; border:1px solid #000; }
table { margin:0px; padding:0px; border-spacing:0px; }
td { padding:2px; padding-left:1em; padding-right:1em; }
